

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

html, body {
  background-color: rgb(29, 29, 29);
  font-family: 'Courier';
  color: #FFF;
  font-size: 12pt;

}

canvas {
  display: block;
}

.story {
  font-family: 'JetBrains Mono', monospace;
  padding: 2rem;
  line-height: 27px;
}


#images:hover {
   color: coral;
}

pre {
  font-family: 'JetBrains Mono', monospace; 
}

.translation:hover span {
  display: none;
}

.translation:hover:before {
  content: "universe";
  border-radius: 2px;
  padding: 0.2rem;
  margin: -0.2rem;
  background-color:rgb(80, 109, 255);
}


:any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

span {
  padding: 0.2rem;
  margin: -0.2rem;
  border-radius: 2px;
}

.different-style {
  background-color: coral;
}


.different-style:hover {
  border-radius: 2px;
  padding: 0.2rem;
  margin: -0.2rem;
  background-color:rgb(80, 109, 255);
  cursor: pointer;
}

#images { 
  font-size: 9px;
  width: fit-content;
  margin: 0 auto;
  color: white;
  transition: ease 0.3s
}

@media (min-width: 845px) {
  #images {
    font-size: 15px;
  }
}


@media (max-width: 430px) {
	#images { 
    font-size: 6.5px;
   }
}



