@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html, body {
  background-color: rgb(29, 29, 29);
  font-family: 'Courier';
  color: #FFF;
  font-size: 12pt;

}

canvas {
  display: block;
}

.story {
  font-family: 'JetBrains Mono', monospace;
  padding: 2rem;
  line-height: 26px;
}

#images:hover {
  color: rgb(255, 183, 0);
}

pre {
  color: white;
  display: inline-block;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;

}

#images { 
  font-size: 9px;
  padding: 2rem;
}

@media (min-width: 845px) {
  #images {
    font-size: 15px;
  }
}


@media (min-width: 400px) and (max-width: 500px){
	#images { 
    font-size: 6.5px;
   }
}


