html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Courier';
  color: #FFF;
  font-size: 12pt;

}

canvas {
  display: block;
}

span:hover {
  color: rgb(255, 183, 0);
}

pre {
  color: white;
  margin-left: 12rem;
  margin-top: 10rem;
}
