.box .content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
    
}

.box {
	width: 300px;
	height: 80px;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	overflow: hidden;
    margin: auto;
}

.box::before {
	content: '';
	position: absolute;
	width: 150%;
	height: 650%;
	background: repeating-linear-gradient(
			black 0%,
			black 7.5px,
			yellow 7.5px,
			yellow 15px,
			black 15px,
			black 22.5px,
			yellow 22.5px,
			yellow 30px);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	animation: animate 20s linear infinite;
}

.box .content {
  /*display: none;*/
	position: relative;
	background-color: white;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}

.box,
.box .content {border-radius: 2px;}

.box .content p {
	color: black;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.75rem;
  letter-spacing: .075rem;
}

.box .content a {
  text-decoration: none;
  color: #111;
}

.box .content a:hover {
  color: red;
  font-size: 2.25rem;
  transition: font-size 0.35s ease;
}

@keyframes animate {
	from {background-position: 0;}
	to {background-position: 0 250px;}
}