<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="https://www.moma.org/collection/works/288424?=undefined&direction=fwd&page=10">
        <div class="container">
            <div class="firstpiece">
                <div class="green">

                </div>
                <div class="grey">

                </div>
                <div class="greydown">

                </div>
        </div>
    </a>
        <div class="textone">
            <h2>Carmen Herrera</h2>
            <h3>Untitled from Verde y Negro <br> 2017</h3>
        </div>
    <a href="https://www.moma.org/collection/works/186571?=undefined&direction=fwd&page=32">
        <div class="secondpiece">
            <div class="yellow">

            </div>
            <div class="yellowcircle">

            </div>
        </div>
    </a>
    <div class="texttwo">
        <h2>Jenny Perlin</h2>
        <h3>One Hundred Sinkholes <br>
            2014</h3>
    </div>
    <a href="https://www.moma.org/collection/works/221522?=undefined&direction=fwd&page=44">
        <div class="thirdpiece">
            <div class="red">

            </div>
            <div class="redbottom">

            </div>
            <div class="tan">

            </div>
            <div class="tanbottom">

            </div>
            <div class="tanbackground">

            </div>
            <div class="whitebackground">

            </div>
        </div>
    </a>
    <div class="textthree">
        <h2>Martirene Alcántara</h2>
        <h3>Legacy (From the series Homage to Luis Barragán) <br>
            2012</h3>
    </div>
    </div>

</body>
</html>