@font-face {
    font-family: Blob;
    src: url(../resources/ABC\ Favorit/ABCFavorit-Regular-trail.woff);
  }

img {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 20rem;
    padding: 1rem;
}

h2 {
    padding: 1rem;
    font-family: sans-serif;
}
