body {
    background: #000000;
    transition: background-color 1s ease;
}

:any-link {
    text-decoration: none;
    color: white;
}

:any-link:hover {
    text-decoration: none;
    color: rgb(255, 206, 44);
}

.notes {
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}

.chapters {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left: 26px;
    line-height: 26px;
    /* or 128% */
    text-align: left;
    color: #FFFFFF;
}

.pages {
    width: 90px;
    margin-left: auto;
    margin-right: 10px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    /* or 128% */
    color: #FFFFFF;
}

.layout {
    width: auto;
    height: 700px;
  
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
  
    justify-content: space-evenly;
  }

span {
    transition: color 0.4s ease;
}

span:hover {
    color: rgb(255, 206, 44);
}

@media only screen and (max-width: 1800px) {
    .chapters {
      width: fit-content;
    }
  }

@media only screen and (max-width: 750px) {
    .chapters {
      font-size: 26px;
      line-height: 32px;
    }
  }

@media only screen and (max-width: 750px) {
    .notes {
        font-size: 26px;
        line-height: 32px;
    }
  }

.sub {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    /* or 128% */
    color: #FFFFFF;
}