@font-face {
    font-family: Blob;
    src: url(ABCFavorit-Regular-Trial.woff);
}

@font-face {
    font-family: gtf;
    src: url(../resources/GTFAgenturTRIAL-Regular.otf);
}

:root {
	--spacing: 1em;
}

body {
    background-color: rgb(15, 15, 15);
}

:any-link {
    text-decoration: none;
    color: white;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    
    margin-left: 2rem;
    margin-right: 2rem;
}


#graph { 
    --total--data: calc(var(--color--gray) + var(--color--orange) + var(--color--red));
    
    justify-content: center;
    grid-template-columns: repeat(3, 2fr); 
	grid-template-rows: repeat(1, 2fr); 
	gap: 4rem;
	font-size: 1rem; 
	color: white; 
	font-family: Blob;
}

li {
    padding: 1rem;
    margin: 1rem;
}

h1 {
    margin-top: 4rem;
    margin-left: 2rem;
    font-size: 1.25rem; 
	color: white; 
	font-family: Blob;
}

.gray {
    background-color: gray;
}
.orange {
    background-color: rgb(226, 156, 63);
}
.red {
    background-color: rgb(205, 56, 33);
}

li.gray { width: calc(var(--color--gray) / var(--total--data) * 100%); }
li.orange { width: calc(var(--color--orange) / var(--total--data) * 100%); }
li.red { width: calc(var(--color--red) / var(--total--data) * 100%); }